<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="account-box">
          <div class="main-heading-group">
            <h2>Edit profile</h2>
          </div>

          <div class="account-form-main">
          <%= simple_form_for(@user) do |f| %>
            <%= f.input :username, required: true, autofocus: true %>
            <%= f.input :email, required: true %>
            <%= f.input :description, as: :text, required: true %>
            <%= f.button :submit, "Update" %>
          <% end %>
          </div>

          <div class="account-footer">
            <p>Unhappy? <%= link_to "Cancel my Account.", user_path(@user), data: { confirm: "Are you sure? Once deleted, an account may NEVER be recovered!" }, method: :delete %></p>
            <%= link_to :back, class: "back-link" do %>
              <i class="fa fa-chevron-left" aria-hidden="true"></i> BACK
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
