<div class="page-wrapper">
  <div class="container history-index">
    <div class="ribbon-wrapper">
      <div class="main-heading-group mrg-bottom">
        <h1><%= current_user == @user ? 'Your' : "#{@user.username}'s"%> Quest History</h1>
      </div>
    </div>
    <div class="row is-flex">
        <% @events.each do |event| %>
          <div class="col-sm-4">
            <div class="card card-padding">
                <span class="event-title"><%= event.title.split.map { |i| i.capitalize }.join(' ') %></span>
                  <span class="game-title"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> <%= event.game.name %> </span>
                <div class="quest-details">
                  <div class="detail-one">
                    <span class="brand-label">Occurred on:</span>
                    <span>
                      <p class="date" style="margin-bottom:0px;"><%= event.datetime.strftime("%b %e, %Y") %></p> at <p class="time" style="margin-bottom:0px;"><%= event.datetime.strftime("%H:%M") %></p>
                    </span>
                  </div>
                  <div class="detail-two">
                    <span class="brand-label">Hosted by:</span>
                    <span><%= event.host.user.username %></span>
                  </div>
                </div>

                <%= link_to "See details", event_path(event), class: "btn brand-btn brand-btn-red" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
