<div class="page-wrapper page-show-wpr profile-wpr">
  <div class="container">
    <div class="row is-flex page-card">

      <div class="col-xs-12 page-show-heading">
        <div class="main-heading-group">
          <h2><%= @user.username %>'s Profile</h2>
        </div>
      </div>

      <div class="col-sm-6 main-content user-block">

        <div class="player-card">
          <div class="player-block">
            <%# If viewing own profile %>
            <% if current_user == @user %>
              <%= link_to edit_avatar_path(current_user.avatar), class: "av-edit" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              <% end %>
            <% end %>

            <div class="avatar profile-size"
              data-gender="<%= @user.avatar.gender %>"
              data-hair="<%= @user.avatar.hair %>"
              data-top="<%= @user.avatar.top %>"
              data-bottom="<%= @user.avatar.bottom %>"
              data-shoes="<%= @user.avatar.shoes %>"></div>
            <div class="player-info">
              <span class="player-username"><%= @user.username %></span>
              <span class="player-level">Level <%= @user.level.floor %></span>
              <div class="progress">
                <div class="progress-bar progress-bar-info" style="width:<%= (@user.level.modulo(1)*100).to_i %>%"></div>
              </div>
            </div>
          </div>
        </div>

        <%# If viewing own profile %>
        <% if current_user == @user %>
          <%= link_to edit_user_path(current_user), class: "profile-link" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit your profile
          <% end %>
        <% end %>

        <span class="brand-label">Biography:</span>
        <span><%= @user.description %></span>
        <%# Above shows for everyone %>

      </div>

      <div class="col-sm-6 sub-content">
        <span class="brand-label">Achievements:</span>
        <div class="achievement-block">
          <% @user.achievements.each do |achievement| %>
            <div class="achievement-slot">
              <div data-toggle="tooltip" data-placement="top" title="<%= achievement.name %>">
                <%= image_tag("first_event_badge-01.svg") %>
              </div>
            </div>
          <% end %>
        </div>

        <% if current_user == @user %>

        <div class="quest-stats-header">
          <span class="brand-label">Quest Statistics:</span>

          <% if @user.events.any? %>
            <%= link_to user_history_path(@user) do %>
              <i class="fa fa-history" aria-hidden="true"></i> View full history
            <% end %>
          <% end %>
        </div>

        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th scope="row">Attended</th>
              <td>30</td>
            </tr>
            <tr>
              <th scope="row">Wins</th>
              <td>6</td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>

    </div>

    <% if current_user == @user %>
    <div class="row is-flex page-card">

      <div class="col-xs-12 page-show-heading">
        <div class="main-heading-group">
          <h2>Your Quests</h2>
        </div>
      </div>

      <%# If viewing own profile %>
      <div class="col-sm-12 quest-info">
          <%= render 'hostedstats' %>
          <%= render 'attendingevents' %>
      </div>
    </div>
    <% end %>

  </div>
</div>

<%= render 'shared/avatar_javascript' %>


