<h1><%= @user.username  %>show page</h2>

<p><%= @user.username %></p>
<p><%= @user.email %></p>
<p><%= @user.description %></p>
<%# Above shows for everyone %>

<%# If viewing own profile %>
<% if current_user == @user %>
  <p><%= link_to "Edit your profile", edit_user_path(current_user) %></p>
  <p><%= link_to "Edit your avatar", edit_avatar_path(current_user.avatar) %></p>
  <%= render 'hostedstats' %>
  <%= render 'attendingevents' %>
<% else %>
  <%# if NOT your profile %>
  <%= render 'hostedstats' %>
  <%= render 'attendingevents' %>
<% end %>
