<div class="page-wrapper brand-blue-bg">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">
        <div class="account-box">
          <div class="main-heading-group">
            <h2>Forgot your password?</h2>
          </div>

          <div class="account-form-main">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Send me reset password instructions" %>
              </div>
            <% end %>
          </div>

          <div class="account-footer">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
