<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-questboard-brand" do %>
    <%= image_tag "questboard_logo_small.svg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <button class="toggleit">
        <div class="player-info">
        <div class="nav-player">
          <span class="player-level">Level <%= current_user.level.floor %></span>
          <%# If viewing own profile %>
          <% if current_user == current_user %>
             <span class="coin-count"><%= image_tag("coin.svg") %> <%= current_user.coins %></span>
          <% end %>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" style="width:<%= (current_user.level.modulo(1)*100).to_i %>%">
          </div>
        </div>

        </div>
      </button>

      <!-- Links when logged in -->
      <%#= link_to "Edit User",  edit_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
<!--       <%= link_to "Create Quest", new_event_path, class: "navbar-wagon-item navbar-wagon-link" %> -->
      <%#= link_to "Tasks (<b>#{current_user.surveys.where(attended:false).length}</b>)".html_safe, surveys_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if !current_user.surveys.where(attended:false).blank? %>
          <i class="fa fa-globe dropdown-toggle drop-down-globe" data-toggle="dropdown"></i>
            <span class= "notification-icon"><%= current_user.surveys.where(attended:false).length %></span>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <% if !current_user.surveys.blank? %>
                <% current_user.surveys.where(attended:false).each do |survey| %>
                  <li>
                    <%= link_to "#{survey.event.title}", event_survey_path(survey.event, survey) %>
                  </li>
                <% end %>
                <%= link_to "See all Tasks ( #{current_user.surveys.where(attended:false).length} )", surveys_path, class: "navbar-wagon-item navbar-wagon-link" %>
              <% end %>
               <% else %>
                <i class="fa fa-globe dropdown-toggle" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li class= "task-class">
                    You have no tasks.
                    </li>
                    </i><%= link_to "See all Tasks ( #{current_user.surveys.where(attended:false).length} )", surveys_path, class: "navbar-wagon-item navbar-wagon-link" %>
                  </ul>
              <% end %>
          </ul>
        </div>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
           <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
<!--             <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li> -->
            <li>
               <%= link_to new_event_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Create Quest
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> | <%= link_to "SIGN UP", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>

<% if user_signed_in? %>
<div class="page-wrapper page-show-wpr profile-wpr nav-version" id="dashboard">
  <div class="container">
    <div class="row is-flex page-card">

      <div class="col-sm-6 main-content user-block">

        <span class="player-label">You</span>
        <div class="player-card">
          <div class="player-block">
            <div class="avatar-wpr">
              <div class="avatar profile-size"
                data-gender="<%= current_user.avatar.gender %>"
                data-hair="<%= current_user.avatar.hair %>"
                data-top="<%= current_user.avatar.top %>"
                data-bottom="<%= current_user.avatar.bottom %>"
                data-shoes="<%= current_user.avatar.shoes %>"></div>
              <%= link_to edit_avatar_path(current_user.avatar), class: "av-edit" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
              <% end %>
            </div>

            <div class="player-info">
              <%= link_to "#{current_user.username}", user_path(current_user), class: "player-username" %><br/>
              <span class="player-level">Level <%= current_user.level.floor %></span>
              <%# If viewing own profile %>
              <% if current_user == current_user %>
                 <span class="coin-count"><%= image_tag("coin.svg") %> <%= current_user.coins %></span>
              <% end %>
              <div class="progress">
                <div class="progress-bar progress-bar-info" style="width:<%= (current_user.level.modulo(1)*100).to_i %>%">
                </div>
              </div>
              <span class="xp-amount"><%= (current_user.level.modulo(1)*100).to_i %>/100</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6 sub-content">
        <span class="brand-label">Achievements:</span>
        <div class="achievement-block">
          <% if current_user.achievements.blank? %>
            <span style="color: #ccc;"><br>None yet <i class="fa fa-frown-o" aria-hidden="true"></i></span>
          <% else %>
            <% current_user.achievements.each do |achievement| %>
              <div class="achievement-slot">
                <div data-toggle="tooltip" data-placement="top" title="<%= achievement.name %>">
                  <%= image_tag "badges/#{achievement.id}.svg" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render 'shared/avatar_javascript' %>
