<header>
  <span class="quest-date">
    <p class="date-year time" style="margin-bottom:0px;"
%>
      <%= @event.datetime.strftime("%b %e, %Y at %H:%M") %>
    </p>
  </span>
  <h3><%= @event.title.split.map { |i| i.capitalize }.join(' ') %></h3>
  <span class="game-title"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> <%= @event.game.name %></span>
</header>

<div class="quest-content">
  <% unless @event.win.nil? %>
    <span class="brand-label">Quest Winner:</span>
    <span><%= link_to "#{@event.win.username}", user_path(@event.win) %></span>
  <% end %>
  <span class="brand-label">Address:</span>
  <span><%= @event.address %></span>
  <span class="brand-label">Rewards:</span>
  <div class="quest-rewards">
    <div class="reward-slot">
      <%= image_tag("exp.svg") %>
      <span class="reward-amount"><%= @event.experience %></span>
    </div>
    <div class="reward-slot">
      <%= image_tag("coin.svg") %>
      <span class="reward-amount"><%= @event.coins %></span>
    </div>
  </div>
  <span class="brand-label">Description:</span>
  <blockquote class="small-quote">
    <%= @event.description %>
  </blockquote>
  <%= link_to :back, class: "back-link" do %>
    <i class="fa fa-chevron-left" aria-hidden="true"></i> BACK
  <% end %>
</div>
