<% if current_user == @event.host.user && !@event.past? %>
  <div class="party-links">
    <%= link_to edit_event_path(@event), class: "edit-link" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i> edit event
    <% end %>
    <%= link_to "delete event", event_path(@event), method: :delete, class: "btn brand-btn brand-btn-red", role: "button"  %>
  </div>
  <% elsif @event.players.where("user_id = ?", current_user.id).any? && !@event.past? %>
    <%= link_to "Leave quest", event_player_path([@event, current_user]), method: :delete, class: "btn brand-btn brand-btn-red", role: "button" %>
<% end %>
<% if @event.players.where("user_id = ?", current_user.id).blank? && @event.players.length < @event.game.max_players && !@event.past? %>
  <%= link_to "Join quest", event_players_path([@event, current_user]), method: :post, class: "btn brand-btn brand-btn-red", role: "button" %>
<% end %>
<span class="player-label">Host</span>
<div class="player-card">
  <div class="player-block">
    <div class="avatar show-size"
      data-gender="<%= @event.host.user.avatar.gender %>"
      data-hair="<%= @event.host.user.avatar.hair %>"
      data-top="<%= @event.host.user.avatar.top %>"
      data-bottom="<%= @event.host.user.avatar.bottom %>"
      data-shoes="<%= @event.host.user.avatar.shoes %>"></div>
    <div class="player-info">
      <span class="player-username"><%= link_to "#{@event.host.user.username}", user_path(@event.host.user) %></span>
      <span class="player-level">Level <%= @event.host.user.level.floor %></span>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style="width:<%= (@event.host.user.level.modulo(1)*100).to_i %>%"></div>
      </div>
    </div>
  </div>
</div>
<% if @event.players.where('user_id != ?', @event.host.user.id).any? %>
<span class="player-label">Players (<%= @event.players.count %>/<%= @event.game.max_players %>)</span>
<div class="player-card">
  <div class="row">
    <div class="attendees-card">
    <% @event.players.each do |player|%>
      <% if player.user != @event.host.user %>
          <div class="col-sm-6">
            <div class="player-block">
              <div class="avatar player-size"
                data-gender="<%= player.user.avatar.gender %>"
                data-hair="<%= player.user.avatar.hair %>"
                data-top="<%= player.user.avatar.top %>"
                data-bottom="<%= player.user.avatar.bottom %>"
                data-shoes="<%= player.user.avatar.shoes %>"></div>
              <div class="player-info">
                <span class="player-username"><%= link_to "#{player.user.username}", user_path(player.user) %></span>
                <span class="player-level">Level <%= player.user.level.floor %></span>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" style="width:<%= (player.user.level.modulo(1)*100).to_i %>%"></div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<% end %>
