<ul>
  <% if !@events.blank? %>
    <% @events.each do |event| %>
    <li><%= event.title %>
      <%= event.address %>
      <% if @location != nil %>
      <%= event.distance_from(@location, :units=>:kms).round(1) %>km
      <%= event.datetime %>
      <% else @location = "Tokyo Station" %>
      <%= event.datetime %>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul>
