<div class="page-wrapper event-index-page">
    <div class="container">
      <div class="ribbon-wrapper">
        <div class="main-heading-group mrg-bottom">
          <h1>Events</h1>
        </div>
      </div>
      <div class="row">

        <% if !@events.blank? %>
          <% @events.each do |event| %>
              <div class="col-sm-6 col-md-4">
                <div class="card">
                  <div class="quest-header">
                    <div class="quest-date-box blue-box">
                      <span class="quest-date">
                        <p class="date" style="margin-bottom:0px;"
%><%= event.datetime.strftime("%b %e") %></p>
                      </span>
                      <span class="quest-time">
                        <p class="time" style="margin-bottom:0px;"
%><%= event.datetime.strftime("%H:%M") %></p>
                      </span>
                    </div>
                    <div class="quest-top-info">
                      <span class="game-title">
                        <%= event.game.name %>
                      </span>
                      <span class="quest-distance">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <% if @location != nil %>
                          <%= event.distance_from(@location, :units=>:kms).round(1) %> km from <%= @location %>
                        <% else %>
                          <%= event.citycountry %>
                        <% end %>
                      </span>
                    </div>
                  </div>

                  <div class="quest-main">
                    <span class="event-title"><%= event.title.split.map { |i| i.capitalize }.join(' ') %></span>
                    <span class="rewards-title">Rewards</span>

                    <div class="quest-rewards">
                      <div class="reward-slot">
                        <%= image_tag("exp.svg") %>
                        <span class="reward-amount"><%= event.experience %></span>
                      </div>
                      <div class="reward-slot">
                        <%= image_tag("coin.svg") %>
                        <span class="reward-amount"><%= event.coins %></span>
                      </div>
                    </div>
                  </div>

                  <div class="quest-footer">

                    <div class="event-host">
                      <div class="avatar card-size"
                        data-gender="<%= event.host.user.avatar.gender %>"
                        data-hair="<%= event.host.user.avatar.hair %>"
                        data-top="<%= event.host.user.avatar.top %>"
                        data-bottom="<%= event.host.user.avatar.bottom %>"
                        data-shoes="<%= event.host.user.avatar.shoes %>"></div>
                      <span class="host-pin">GM</span>
                    </div>

                    <span class="player-count"><%= event.players.length %>/<%= event.game.max_players %> PLAYERS</span>
                    <%= link_to "See details", event_path(event), class: "btn brand-btn brand-btn-red" %>

                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-xs-12">
              <p>Sorry, but there are currently no matches for your search.</p>
            </div>
        <% end %>
    </div>
  </div>
</div>
<%= render 'shared/avatar_javascript' %>

<!-- <ul>
  <% if !@events.blank? %>
    <% @events.each do |event| %>
    <li><%= event.title %>
      <%= event.address %>
      <% if @location != nil %>
      <%= event.distance_from(@location, :units=>:kms).round(1) %>km
      <%= event.datetime %>
      <% else @location = "Tokyo Station" %>
      <%= event.datetime %>
      <% end %>
    </li>
    <% end %>
  <% end %>
</ul> -->
