 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#datepicker').datepicker();
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDANjx3bosEtIyzJaoWs50Wnt6nt_1rmxU"></script>


<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="account-box">
          <div class="main-heading-group">
            <h2>Create Quest</h2>
          </div>

          <div class="account-form-main">
            <%= simple_form_for(@event) do |f| %>
              <%= f.input :title %>
              <%= f.input :game, :url => autocomplete_game_name_games_path, :as => :autocomplete %>
              <%= f.input :description, as: :text %>
              <%= f.input :address, input_html: { :class => 'search-location' }%>
              <% # note  - game field will ideally not be straight text input. stay tuned %>
              <%# f.input :datetime, data:{ provide:'datepicker'}, :input_html => { :value => Date.today } %>
              <%= f.input :datetime, as: :string, input_html: { class: "datepicker" } %>
              <%= f.input :time, as: :time %>
              <%= f.button :submit, "Create" %>

            <% end %>
          </div>

          <div class="account-footer">
            <%= link_to :back do %>
              <i class="fa fa-chevron-left" aria-hidden="true"></i> BACK
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



