<div class="page-wrapper brand-blue-bg">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">
        <div class="account-box">
          <div class="main-heading-group">
            <h1>Log in</h1>
            <h2>Get your experience and loot</h2>
          </div>

          <div class="account-form-main">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn brand-btn brand-btn-red" %>
              </div>
            <% end %>
          </div>

          <div class="account-footer">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
