
<div class="page-wrapper">
  <div class="container survey-index">
    <div class="ribbon-wrapper">
      <div class="main-heading-group mrg-bottom">
        <h1>Quest Follow-ups</h1>
      </div>
    </div>
    <div class="row is-flex">
      <% if !@surveys.blank? %>
        <% for survey in @surveys.where(attended:false) %>
          <div class="col-sm-12">
            <p>Please follow up on your recently completed quest(s) and <b>claim your rewards</b>.</p>
          </div>
          <div class="col-sm-4">
            <div class="card card-padding">
              <% event = survey.event %>

            <%= link_to "#{event.title.split.map { |i| i.capitalize }.join(' ')}", event_path(event), class: "event-title" %>

                  <span class="game-title"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> <%= event.game.name %> </span>
                <div class="quest-details">
                  <div class="detail-one">
                    <span class="brand-label">Occurred on:</span>
                    <span>
                      <span class="date-year"><%= event.datetime.strftime("%b %e, %Y") %></span><span class="time">@<%= event.datetime.strftime("%H:%M") %></span>
                    </span>
                  </div>
                  <div class="detail-two">
                    <span class="brand-label">Hosted by:</span>
                    <span><%= link_to "#{event.host.user.username}", user_path(event.host.user) %></span>
                  </div>
                </div>

                <%= link_to "Follow up", event_survey_path(event, survey), class: "btn brand-btn brand-btn-red" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-sm-12">
          <p>You haven't joined any quests yet! Go <%= link_to "find some", root_path %>!</p>
          <div class="questy">
            <%= image_tag("questboard_mascot_fornow-01.svg") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
