<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QuestBoard is your new way of meeting new boardgamers, playing games with friends, tracking your achievements, creating a character and leveling it up.">
    <title>QuestBoard</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
      <div class="content-wrap">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
       <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDYxX1wMEeIeqQv2sDq7w3sTB_jbhImCHo"></script>
      <%= javascript_include_tag 'application' %>
      <%= custom_bootstrap_flash %>
      <%= yield(:js) %>
  </body>
</html>
